/* Ensure the root element spans the full viewport */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Ensure the root container uses the full width of the viewport */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* Main content area should start below the fixed menu */
main {
  flex-grow: 1; /* Ensure the main content fills the remaining space */
  display: flex;
  justify-content: center;
  align-items: start; /* Center content both horizontally and vertically */
  min-height: calc(100vh - 4rem); /* Ensures content fills the viewport minus the menu */
  text-align: center;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
